.logo {
  font-family: var(--font-accent);
  font-size: 0.95rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  letter-spacing: -0.5px;
  overflow: visible;
  padding: 0.25rem 0 0.25rem 1rem;

  .text {
    position: relative;
    z-index: 2;
    color: var(--primary);
    display: inline-block;
  }
}
