@import "../scss/mixins";

// Fonts
:root {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-accent: "Fira Code", monospace;
}

// Breakpoints and containers
:root {
  --mobile: 768px;
  --reading-width: 1000px;
}

// Spatial sizing
:root {
  // Fonts sizes
  --font-xx: 0.6rem;
  --font-xs: 0.75rem;
  --font-s: 0.875rem;
  --font-r-s: 1rem;
  --font-r: 1rem;
  --font-m: 1.125rem;
  --font-l: 2rem;
  --font-xl-l: 3.75rem;
  --font-xl: 3.75rem;

  // Marging/padding sizes
  --size-4-: 0.25rem;
  --size-3-: 0.35rem;
  --size-2-: 0.5rem;
  --size-1x: 1rem;
  --size-2x: 2rem;
  --size-3x: 3rem;
  --size-4x: 4rem;
  --size-5x: 5rem;
  --size-6x: 7rem;
  --size-7x: 10rem;
}

// Spatial sizing
@include media($max: $mobile) {
  :root {
    // Fonts sizes
    --font-xx: 0.6rem;
    --font-xs: 0.75rem;
    --font-s: 0.875rem;
    --font-r-s: 0.875rem;
    --font-r: 0.95rem;
    --font-m: 1rem;
    --font-l: 2rem;
    --font-xl-l: 2rem;
    --font-xl: 2.75rem;

    // Marging/padding sizes
    --size-4-: 0.25rem;
    --size-3-: 0.35rem;
    --size-2-: 0.5rem;
    --size-1x: 1rem;
    --size-2x: 1.5rem;
    --size-3x: 2rem;
    --size-4x: 3rem;
    --size-5x: 4rem;
    --size-6x: 5.5rem;
    --size-7x: 7rem;
  }
}

// Default (Dark) mode theme
:root[data-theme="dark"],
:root[data-theme="undefined"] {
  --primary-bright: #ffffff;
  --primary: #a8b1ff;
  --primary-dim: #727ecd;
  --primary-dim2: #212544;
  --primary-dark: #121424;

  --secondary: #6ee7b7;
  --secondary-bright: #34d399;

  --background: #0b0f19;
  --background-dim: #111827;
  --background-dim2: #1f2937;

  --neon-1-1: #60a5fa;
  --neon-1-2: #818cf8;
  --neon-2-1: #c084fc;
  --neon-2-2: #e879f9;

  --icon-bright: #ffffff;

  --brightness-low: 100%;
  --brightness-high: 100%;

  --mesh-color-1: #0a0a0a;
  --mesh-color-2: #1e1b4b;
  --mesh-color-3: #172554;
  --mesh-color-4: #2e1065;

  color-scheme: dark;
}

// Light mode theme
:root[data-theme="light"] {
  --primary-bright: #000000;
  --primary: #2e2e2e;
  --primary-dim: #3a3a3a;
  --primary-dim2: #585858;
  --primary-dark: #dfdfdf;

  --secondary: #2142e8;
  --secondary-bright: #4e0cf6;

  --background: #ededed;
  --background-dim: #fbfbfb;
  --background-dim2: #fefefe;

  --neon-1-1: #424bff;
  --neon-1-2: #2493ee;
  --neon-2-1: #37eaf7;
  --neon-2-2: #c624ee;

  --icon-bright: var(--neon-1-1);

  --mesh-color-1: #96c4f3;
  --mesh-color-2: #96a8f2;
  --mesh-color-3: #bad0ef;
  --mesh-color-4: #c8ceda;
}

// Unicorn mode theme
:root[data-theme="unicorn"] {
  --primary-bright: #000000;
  --primary: #2e2e2e;
  --primary-dim: #464646;
  --primary-dim2: #585858;
  --primary-dark: #dfdfdf;
  --secondary: #804fb3;
  --secondary-bright: #9969c7;
  --background: #ffffff;
  --background-dim: #fbfbfb;
  --background-dim2: #fefefe;
  --neon-1-1: #37c1f7;
  --neon-1-2: #b589d6;
  --neon-2-1: #eaf737;
  --neon-2-2: #246bee;
  --icon-bright: var(--neon-1-1);
  --mesh-color-1: #96c4f3;
  --mesh-color-2: #f296cc;
  --mesh-color-3: #efe2ba;
  --mesh-color-4: #c8d7da;
}
